---
BasedOnStyle: Google
---
Language: Cpp
SpacesInAngles: true
AccessModifierOffset: -2
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
BinPackArguments: false
PenaltyBreakBeforeFirstCallParameter: 5000
PenaltyReturnTypeOnItsOwnLine: 500
SpacesBeforeTrailingComments: 1
IncludeBlocks: Preserve
---
