<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/static/css/ikos_theme.css'>
    <!-- VanillaJS import -->

    <title>500 Internal Error</title>
  </head>
  <body>
    <!-- page header -->
    <header>
      <h3>
        <a href='/'>IKOS-VIEW</a>
      </h3>
      <nav>
        <a href='/'>Homepage</a>
        <a href='/settings'>Settings</a>
      </nav>
    </header>

    <!-- page container -->
    <div id='page_container'>
      <!-- page content -->
      <div class='page_content'>
        <h1>Internal Error - 500</h1>
        <p>{message}</p>
      </div>
    </div>
  </body>
</html>
